/* ------------
************
		*******************************************************************
		Generic styles for this app should be added in this file
		Author: Dan Dvoracek
		*******************************************************************
************
		Grid system using Sass grid framework called Susy.
		**************************************************
		Check breakpoints here below.
		More infos about the basic rules here: http://susydocs.oddbird.net/en/latest/install/
		Quick introduction here: http://www.sitepoint.com/sass-grids-neat-susy/
************
		Media queries: Mobile first logic.
		More info about this topic: http://www.html5rocks.com/en/mobile/responsivedesign/
		Screen Resolutions: http://www.zingdesign.com/responsive-website-design-cheatsheet1/
************
		Retina image helpers from: https://github.com/Gaya/Retina-Sprites-for-Compass/blob/master/README.md
************
------------ */

/* Body & header */
html, body
{
	min-height: 100%;
	min-width: 320px;
}

body {
	background-color: $white;
	font-size: 16px;
}

header {
	position: relative;
	width: 100%;
	background-color: $black;
	color: $white;
	@include padding-large;

	@include susy-breakpoint(960px, 12) {
		background-color: gray;
	}

}